:root {
    --shadow: 3px 3px 5px #777;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 60px 1fr 10px 4fr;
}

a {
    text-decoration: none;
    color: black;
}

.sidebar {
    background: #c026d3;
    grid-column: 1;
    grid-row: 1 / -1;
    padding: 5px;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    row-gap: 50px;
}

.sidebar_item,
.logo {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, max-content);
    margin: auto 0;
}

.sidebar_item {
    gap: 20px;
}

.sidebar_item > p {
    align-self: end;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo p {
    font-size: 2.5rem;
    font-weight: bold;
}

.logo img {
    width: 5rem;
}

.sidebar_item img {
    width: 1.5rem;
}

.main_pages,
.extra_pages {
    padding-left: 20px;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    grid-row: 1;
    grid-column: 2 / -1;
}

.search_space {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 60vw;
}

.search_icon {
    height: 25px;
}

.search {
    width: 45vw;
    height: 30px;
    background: #eee;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    font-size: 1.2rem;
}

.search:hover {
    background: #ddd;
}

.search:focus {
    background: rgba(128, 0, 128, 0.2);
    outline: none;
}

.search_space > label {
    cursor: pointer;
}

.user_info {
    width: 43%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.pfpic {
    width: 50px;
    aspect-ratio: 1;
    background: #ccc;
    border-radius: 50%;
}

.profile_container {
    width: 90%;
    margin: auto;
}

.user_profile {
    grid-row: 2;
    grid-column: 2 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, auto);
    place-items: start;
    gap: 10px;
}

.info .pfpic {
    width: 65px;
    grid-row: 1 / -1;
    grid-column: 1;
}

.greeting {
    grid-row: 1;
    grid-column: 2;
    font-size: 0.8rem;
    align-self: end;
}

.user_identity {
    grid-row: 2;
    grid-column: 2;
}

.actions {
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 3vw;
}

.profile_btn {
    border: none;
    padding: 10px 30px;
    border-radius: 15px;
    background: #86198f;
    color: mistyrose;
    font-weight: bold;
}

.profile_btn:hover {
    cursor: pointer;
}

.main {
    background: #ccc;
    grid-column: 2 / -1;
    grid-row: 4 / -1;
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    grid-template-rows: repeat(3, auto);
    gap: 0 15px;
}

.projects > p {
    grid-column: 1 / -1;
    grid-row: 1;
}

.projects > p,
.announcements > p,
.trending > p {
    font-size: 1.5rem;
    font-weight: bold;
}

.projects {
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 49%));
    grid-template-rows: 27px repeat(3, 200px);
    grid-auto-rows: minmax(200px, 49%);
    padding: 10px;
    gap: 15px;
}

.project {
    background: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 20px;
    box-shadow: inset 10px 0px turquoise, var(--shadow);
    border-radius: 15px;
}

.project_text {
    margin-top: -40px;
}

.project_btns {
    width: 40%;
    align-self: end;
    margin-bottom: -30px;
    display: flex;
    justify-content: space-between;
}

.announcements {
    grid-column: 2;
    grid-row: 1;
    padding: 10px 17px 17px 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

.announcements_container {
    width: 100%;
    align-self: center;
    border-radius: 15px;
    background: white;
    padding: 30px 15px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    box-shadow: var(--shadow);
}

.announcement {
    background: white;
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    padding: 10px 0 0 0;
    border-top: 2px solid #ccc;
}

.announcement:first-child {
    padding: 0;
    border: 0;
}

.trending {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-flow: column wrap;
    padding: 0 17px 17px 0;
    gap: 15px;
}

.trending_container {
    width: 100%;
    height: 250px;
    background: white;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 5px;
    box-shadow: var(--shadow);
}

.trending_item {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, auto);
    gap: 0 15px;
}

.trending_item .pfpic {
    grid-column: 1;
    grid-row: 1 / -1;
}

.trending_user {
    grid-column: 2;
    grid-row: 1;
    align-self: end;
}

.trending_project {
    grid-column: 2;
    grid-row: 2;
    color: #555;
}
